<div class='text-center'>
  <p><%= I18n.t('errors.show.generic') %></p>
  <p>
    <span>
      <%= I18n.t('errors.show..contact_support') %>
      <%= mail_to @support_email, class: 'text-decoration-none' %>
    </span>
  </p>

  <%= link_to I18n.t('errors.show.back'), :back, class: 'text-decoration-none' %>
</div>
