@import 'wishlist';

.d-flex {
  display: flex;
}

.justify-content-around {
  justify-content: space-around;
}

.flex-wrap {
  flex-wrap: wrap;
}

.mv-1 {
  margin: 1rem auto;
}

.mh-4 {
  margin: auto 4rem;
}

.card-image {
  object-fit: cover;
  height: 29rem;
  width: 24.5rem;

  &:hover {
    transform: scale(1.02);
  }
}

.text-center {
  text-align: center;
}

.text-decoration-none, .text-decoration-none:hover, .text-decoration-none:active,
  .text-decoration-none:visited, .text-decoration-none:focus {
    text-decoration: none;
}
