<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      <%= render 'wishlist_mailer/stylesheet' %>
    </style>
  </head>

  <body class='full-width m-auto text-center default-color default-background-color pv-1'>
    <%= yield %>
  </body>
</html>
